.contenedor-titulo-biografia {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
    font-size: 36px;
    font-family: 'Rajdhani';
}

.primer-parrafo {
    padding: 10px 20px;
    text-align: justify;

    p {
        font-size: 1.8rem;
        font-family: 'Rajdhani';
    }
}

.segundo-parrafo {
    @extend .primer-parrafo;
}

.tercer-parrafo {
    @extend .primer-parrafo;
}

.cuarto-parrafo {
    @extend .primer-parrafo;
}