.contenedor-titulo-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
    font-size: 36px;
    font-family: "Rajdhani";
}


.form-contacto{
    padding: 0% 30%;
}