.contenedor-portada-paginas{
    background-image: url(file:///C:/Users/reyjuan/Desktop/webMaradonaJuanRey/multimedia/imagenes-portadas/portada-paginas.jpg);
    background-size: cover;
    background-position-y: 150px;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}