* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.contenedor-menu-oculto {
    width: 30%;
}

.img-logo-dm {
    @include tamaño(100px, 60px);
}


.contenedor-portada-index {
    width: 100%;
    height: 100vh;
    background-image: url(https://github.com/juanedry/directorio-imagenes/blob/main/portada-index.jpg?raw=true);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.contenedor-lista-menu {
    ul {
        li {
            a {
                background-image:
                    linear-gradient(transparent 0%,
                        transparent 90%,
                        black 90%,
                        black 100%);
                background-repeat: no-repeat;
                background-size: 0% 100%;
                background-position-x: right;
                transition: background-size 300ms;
                font-size: 1.8rem;
                color: black;
                font-family: 'Rajdhani';
                font-weight: 500;

                &:hover {
                    background-size: 100% 100%;
                    background-position-x: left;
                }
            }
        }
    }
}

.logoInstagram {
    padding: 1rem 1rem;
}

.logoFacebook {
    padding: 1rem 1rem;
}

.contenedor-texto-una-leyenda {
    position: relative;
    top: 45vh;
    left: 22.2vw;
    width: 10%;

    span {
        color: map-get($estilos-compartidos, colorBlanco);
        font-family: map-get($estilos-compartidos, fuenteSitio);
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 1.8rem;
    }
}

.contenedor-texto-nunca-muere {
    position: relative;
    top: 45vh;
    left: 22vw;

    span {
        color: map-get($estilos-compartidos, colorBlanco);
        font-family: map-get($estilos-compartidos, fuenteSitio);
        font-weight: 500;
        font-size: 8rem;
    }
}


.contenedor-logos-redes {
    position: relative;
    top: 55vh;
    left: 95vw;
    display: inline-grid;
}